# venv
.venv/

# python cache
*.pyc
__pycache__/

# ??
instance/

# test
.pytest_cache/
.coverage
htmlcov/

# build
dist/
build/
*.egg-info/
site/

# dev
*.swo
*.swp
.DS_Store
set_env_vars.sh

excalidraw.log
